
header {
    padding: 20px;
    background-color: #333;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
section {
    padding: 30px;
    text-align: center;
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.book-image {
    width: 200px;
    height: 300px;
    margin: 20px;
    display: inline-block;
    background-color: #444;
    border: 5px solid #fff;
}
.book-image:hover{
    width: 220px;
    height: 320px;
}