* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #2d2d2d;
    font-family: Arial, sans-serif;
  }

  #reload{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    background-color: #363636;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  input[type="submit"] {
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    box-sizing: border-box;
}

input[type="submit"]:hover {
    background-color: #666;
}

  
  h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  #la{
    display:inline;
  }

  label {
    display: block;
    color: #fff;
    margin-bottom: 5px;
  }
  
  textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: 2px solid #333;
    background-color: #444444;
    color: #fff;
    border-radius: 5px;
    resize: none;
  }
  
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #444444;
    color: #fff;
    font-size: 16px;
    margin-top: 5px;
  }
  
  input[type="checkbox"] {
    margin-top: 10px;
  }
  
  
  @media screen and (max-width: 500px) {
    .container {
      padding: 10px;
    }
  }
  



