
    <link rel="stylesheet" href="/css/navbar.css">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <div class="cla">
        <a href="">Logo</a>
      </div>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link {{#if inicio}} active {{/if}}" href="/usuario/">Inicio</a>
      
      {{#if user}}
       <li class="nav-item">
        <a class="nav-link {{#if biblioteca}} active {{/if}}" href="/usuario/biblioteca">Biblioteca</a>
      </li>
         <li class="nav-item">
        <a class="nav-link {{#if perfil}} active {{/if}}" href="/usuario/perfil">Perfil</a>
      </li>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/usuario/sair">Sair</a>
      </li>
      {{else}}
        <li class="nav-item">
          <a class="nav-link {{#if login}} active {{/if}}" href="/usuario/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if registro}} active {{/if}}" href="/usuario/registro">Registro</a>
        </li>
      {{/if}}
    </ul>
  </div>
</nav>





