    <link rel="stylesheet" href="/css/usuario/inicio.css">
	<section>
		<h1>Bem-vindo à biblioteca</h1>
		<p>Encontre livros na nossa coleção.</p>
		<div class="book-imag"><img class="book-image" src="https://marketplace.canva.com/EAE4oJOnMh0/1/0/1003w/canva-capa-de-livro-de-suspense-O7z4yw4a5k8.jpg" alt="" srcset="">
        <img class="book-image" src="https://marketplace.canva.com/EAE4oJOnMh0/1/0/1003w/canva-capa-de-livro-de-suspense-O7z4yw4a5k8.jpg" alt="" srcset="">
        <img class="book-image" src="https://marketplace.canva.com/EAE4oJOnMh0/1/0/1003w/canva-capa-de-livro-de-suspense-O7z4yw4a5k8.jpg" alt="" srcset=""></div>
	</section>