    <title>Login Dark</title>
    <link rel="stylesheet" href="/css/usuario/login.css">

	<div id="erro" class=""></div>
	<div id="sucesso"></div>
	
	<form id="form">
		<h1>Login do usuário</h1>
		<label for="username">Email:</label>
		<input type="text" name="email" id="email" placeholder="Digite seu email">
		<label for="password">Senha:</label>
		<input type="password" name="password" id="senha" placeholder="Digite sua senha">
		<input type="submit" value="Entrar">
	</form>

	<script src="/js/usuario/login.js"></script>