

  <link rel="stylesheet" href="/css/usuario/perfil.css">

  <div class="text-center" id="reload">
    <div class="text-light" style="width: 12rem; height: 12rem;" ><div class="spinner-border" role="status"><span class="visually-hidden">Loading...</span></div></div>
  </div>

  <div id="dados" class="container">
    <h1>Perfil do usuário</h1>
    <div class="user-info">
      <div class="field">
        <label for="name">Nome:</label>
        <span id="name"></span>
      </div>
      <div class="field">
        <label for="email">E-mail:</label>
        <span id="email"></span>
      </div>
      <div class="field">
        <label for="cpf">CPF:</label>
        <span id="cpf"></span>
      </div>
      <div class="field">
        <label for="user-type">Tipo de usuário:</label>
        <span id="user-tipo"></span>
      </div>
      <div class="field">
        <label for="course">Curso:</label>
        <span id="curso"></span>
      </div>
      <div class="field">
        <label for="address">Endereço:</label>
        <span id="endereco"></span>
      </div>
      <div class="field">
        <label for="phone">Telefone1:</label>
        <span id="fone1"></span>
        <label for="phone">Telefone2:</label>
        <span id="fone2"></span>
        <label for="phone">Telefone3:</label>
        <span id="fone3"></span>
      </div>
      <div class="field">
        <label for="observations">Observações:</label>
        <span id="obs"></span>
      </div>
    </div>
  </div>

  <script src="/js/usuario/perfil.js"></script>